# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystem are summarized.

**OBJECTIVES:**
* List popular langauges for data science
* List popular libraries for data science
* Create a table for data science tools
* Demomnstrate arithmetic operations in python
* Share a jupyter notebook on github

Some  of the popular languages that data scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists inculde:
1. Numpy.
2. Pandas
3. Matplotlib
4. TensorFlow
5. PyTorch

| data science tools |
|--------------------|
|Jupyter notebook    |
|RStudio             |
|VSCODE              |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# this is a simple arithmetic expression to multiply then add integers. 
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Prince Marwa